<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        .head{
            padding: 10px;
            background-color: goldenrod;
        }
        .btn{
            padding: 10px;
            border-radius: 3px;
            color: white;
            border: none;
            cursor: pointer;
            margin: 10px;
            text-decoration: none;
        }
        .r{
            background-color: red;
        }
        .b{
            background-color: blue;
        }
        .g{
            background-color: rgb(15, 241, 52);
        }
        #main{
            padding:50px;
        }
        .article{
            margin: 10px;
            width: 800px;
            height: 200px;
            padding: 20px;
            border: 2px solid black;
        }
        .btns{
            display: flex;
            justify-content: left;
            align-items: center;
            height: 50px;
        }
    </style>
</head>
<body>
    <h1 class="head">Blogging Site</h1><hr>
    <h1 class="head" style="color: white;">Discover Stories,Articles and Research Work from GLA Students</h1>
    <main id="main">
        <a href="./articles/new"><button class="btn b">Add new Article</button></a>
        <% blogs.forEach((blog) => { %>
            <div class="article">
                <h3><%= blog.title %></h3>
                <p><%=blog.date %></p>
                <h6><%= blog.description %></h6>
                <div class="btns">
                    <a href="/articles/show/<%=blog.id%>" class="btn b">Read More</a> 
                <a href="/articles/edit/<%=blog.id%>" class="btn g">Edit</a>
                <form action="/articles/<%=blog.id%>?_method=delete" method="post"><button class="btn r">Delete</button></form>
                </div>
                
            </div>
        <% }); %>
    </main>
</body>
</html>